#mailchimp {
	background: ;
	color: ;
	padding: 20px 15px;
}
	#mailchimp input {
		 border: medium none;
    color: gray;
    font-family: Calibri;
    font-size: 16px;
    margin-bottom: 10px;
    padding: 8px 10px;
    width: 35%;
		
	}
		#mailchimp input.email { background: #fff }
		#mailchimp input.name { background: #fff}
		#mailchimp input[type="submit"] {
			background: #981B1F;
			color: #fff;
			cursor: pointer;
			font-size: 15px;
			width: 14%;
			padding: 8px 0;

		}
			#mailchimp input[type="submit"]:hover { color: #FFFFFFs }
