#mailchimp {
}
	#mailchimp input {
		 border: medium none;
    color: gray;
    font-family: Calibri;
    font-size: 16px;
    margin-bottom: 10px;
    padding: 8px;
    width: 40%;
        
		
	}
		

		}
#mailchimp input[type="submit"]:hover { color: #FFFFFFs }
